<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="analytics-api"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${serviceName}"}</customFields>
            <includeMdcKeyName>requestId</includeMdcKeyName>
        </encoder>
    </appender>

    <logger name="org.springframework"             level="WARN"/>
    <logger name="org.apache.kafka"                level="WARN"/>
    <logger name="com.urlshortener"                level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
